services:
  postgres-db:
    image: postgres:14
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: omega
      POSTGRES_PASSWORD: password
      POSTGRES_DB: omega-db
      POSTGRES_HOST_AUTH_METHOD: trust
    networks:
      - app-network

  omega-app-14:
    build:
      context: .
      no_cache: true
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/omega-db
      SPRING_DATASOURCE_USERNAME: omega
      SPRING_DATASOURCE_PASSWORD: password
    depends_on:
      - postgres-db
    ports:
      - "8080:8080"
    volumes:
      - ./src:/app/src
      - /app/target
    networks:
      - app-network

networks:
     app-network:
       driver: bridge